<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hyper Parameter optimization using High Performance Computing</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="col-12 col-md-10 col-lg-8 ml-auto mr-auto">
  <div class="row row-content">
    <div class="col-12 mb-5 mt-5">
      <h1 class="text-center">Select the Range</h1>
    </div>
    <div class="col-12">
      <form action="/start" method="POST">
        <div class="form-group row justify-content-center">
          <label for="learningrate" class="col-md-3 col-form-label pt-2">Learning Rate</label>
          <div class="col-md-9 col-lg-6">
            <input type="text" class="form-control" id="learningrate" name="learningrate"
              placeholder="0.1, 0.01, 0.001 ...">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="batchsize" class="col-md-3 col-form-label pt-2">Batch Size</label>
          <div class="col-md-9 col-lg-6">
            <input type="text" class="form-control" id="batchsize" name="batchsize" placeholder="8, 16, 32 ...">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="epochs" class="col-md-3 col-form-label pt-2">Epochs</label>
          <div class="col-md-9 col-lg-6">
            <input type="text" class="form-control" id="epochs" name="epochs" placeholder="5, 10, 15 ...">
          </div>
        </div>

        <div class="form-group row justify-content-center pt-3">
          <buttin type="submit" class="btn" style="width: 80%;">
            Start
          </buttin>
        </div>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="/static/js/index.js"></script>
    </div>
  </div>

</body>

</html>